.list__item {
  margin-block-end: 40px;
  text-align: center;
}

.list__link {
  cursor: pointer;
  color: var(--color-border);
  font-size: 48px;
  font-weight: 700;
  transition: opacity linear 0.5s;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
    text-decoration: underline;
  }
}
