.list__item {
  margin-block-end: 40px;
  text-align: center;
}

.list__link {
  color: var(--color-border);
  font-weight: 700;
  font-size: 48px;
  cursor: pointer;
  transition: opacity linear 0.5s;

  &:hover {
    opacity: 0.5;
  }
}
