.input {
  padding: 14px 16px;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  pointer-events: auto;

  &_type_error {
    border: 1px solid var(--color-err);
  }

  &::placeholder {
    color: var(--color-subtitle);
  }

  &:hover {
    box-shadow: 5px 5px 5px rgb(148 148 148 / 30%);
  }

  &:disabled {
    cursor: auto;
    opacity: 0.5;
    pointer-events: none;
  }
}
