.chat {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  padding: 15px 10px;
  cursor: pointer;

  &_active {
    background-color: rgba(101, 176, 16, 0.2);
  }
}

.chat-about {
  display: flex;

  &__avatar {
    width: 47px;
    height: 47px;
    object-fit: cover;
    object-position: center;
    margin: auto 10px auto 0;
    margin-inline-end: 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    width: 70%
  }

  &__name {
    font-weight: 700;
    margin: 0 0 5px 0;
  }

  &__text-container {
    display: flex;
  }

  &__person {
    font-weight: 700;
    margin: 0 5px 0 0;
  }

  &__text {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-subtitle);
    margin: 0;
  }

  &__text-small {
    width: 319px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px 0 0;
    color: var(--color-subtitle);
  }

  &__time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
  }

  &__time {
    color: var(--color-subtitle);
    margin: 0 0 0 auto;
    text-align: center;
  }

  &__count {
    width: 25px;
    height: 25px;
    color: var(--color-clean);
    border-radius: 50%;
    background-color: var(--color-border);
    margin: 0 0 0 auto;
    display: flex;
  }

  &__count-text {
    margin: auto;
  }
}
