.profile {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: var(--full);
  height: 100vh;
  margin: auto;

  &__name {
    margin: auto;
    color: var(--color-border);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-block-end: 20px;
  }

  &__form {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: var(--full);
    max-width: 400px;
  }

  &__form-wrapper {
    margin: auto 0 auto 15%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__image-right {
    position: absolute;
    top: 50%;
    right: 0;
    width: 740px;
    height: 599px;
    background-image: url('../../../static/images/signup-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
  }
}
