{{!< desctop}}

<main class="profile">
  {{> aside/aside href="/src/pages/chat/chat.hbs"}}
  <img class="profile__image-right" alt="фоновая картинка" src="/static/images/signup-right.png"/>
  <form class="profile__form">
    {{> form-title/form-title formTitle="Настройки профиля"}}
    {{> avatar/avatar}}
    <p class="profile__name">Ольга</p>
    {{#each profile.inputs}}
      {{>input/input }}
    {{/each}}
    {{> button/button text="Сохранить" }}
    {{> link/link text="Изменить пароль" href="/src/pages/change-password/change-password.hbs" }}
  </form>
</main>
