.chat-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: var(--full);
  height: max-content;
  border-bottom: 1px solid var(--color-border);
  padding-block: 10px;

  &__info {
    display: flex;
  }

  &__avatar {
    width: 47px;
    height: 57px;
    margin: auto 10px auto 0;
    object-fit: cover;
    object-position: center;
    margin-inline-end: 10px;
    border-radius: 50%;
  }

  &__infoWrapper {
    display: flex;
    flex-direction: column;
  }

  &__name {
    margin-block-start: 10px;
    margin-block-end: 0;
    font-weight: 700;
  }

  &__count {
    margin-block-start: 0;
    margin-block-end: 0;
    color: var(--color-subtitle);
  }

  &__btn {
    display: flex;
    width: 25px;
    height: 25px;
    margin: auto 0;
    background-color: inherit;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }
  }

  &__img {
    width: 3px;
    height: 16px;
    margin: auto;
    background-image: url('/static/images/menu.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}
