@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "./variabless";

@import "../components/main-link/main-link.scss";
@import "../components/button/button.scss";
@import "../components/link/link.scss";
@import "../components/input/input.scss";
@import "../components/form-title/form-title.scss";
@import "../components/avatar/avatar.scss";
@import "../components/aside/aside.scss";
@import "../components/chat-list/chat-list.scss";
@import "../components/search/search.scss";

@import "../pages/not-found/not-found.scss";
@import "../pages/server-err/server-err.scss";
@import "../pages/sign-in/sign-in.scss";
@import "../pages/sign-up/sign-up.scss";
@import "../pages/profile/profile.scss";
@import "../pages/change-password/change-password.scss";
@import "../pages/chat/chat.scss";




body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--color-text);
  font-weight: 400;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-height: 100vh;
  background-image: url("../../static/images/back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1480px;
  min-width: 375px;
}

.container {
  display: flex;
}

.main-container {
  margin: auto;
}

.list {
  margin: auto;
  list-style-type: none;
}

