.sign-up {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: var(--full);
  height: 100vh;
  margin: auto;

  &__form {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    width: var(--full);
    max-width: 400px;
    margin: auto 0 auto 30%;
  }

  &__image-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-image: url('../../../static/images/auth-left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 521px;
    width: 393px;
  }

  &__image-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-image: url('../../../static/images/signup-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 740px;
    width: 599px;
  }
}
