<div class="modal-delete">
  <div class="modal-delete__overlay"></div>
  <div class="modal-delete__paper">
    <button class="modal-delete__close-btn"></button>
      {{> form-title/form-title formTitle="Удалить пользователя"}}
      {{#with modal.input}}{{>input/input }}{{/with}}
      <div class="modal-delete__btn-container">
        {{> button/button text="Удалить" }}
      </div>
  </div>
</div>
