@import "./not-found/not-found.scss";
@import "./server-err/server-err.scss";
@import "./sign-in/sign-in.scss";
@import "./sign-up/sign-up.scss";
@import "./profile/profile.scss";
@import "./change-password/change-password.scss";
@import "./chat-page/chat-page.scss";
@import "./сhat-not-selected/сhat-not-selected.scss";

.main-container {
  margin: auto;
}

.list {
  margin: auto;
  list-style-type: none;

  &__item {
    margin-block-end: 40px;
    text-align: center;
  }

  &__link {
    cursor: pointer;
    color: var(--color-border);
    font-size: 48px;
    font-weight: 700;
    transition: opacity linear 0.5s;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }
}
