@import url(./not-found/not-found.scss);
@import url(./server-err/server-err.scss);
@import url(./sign-in/sign-in.scss);
@import url(./sign-up/sign-up.scss);
@import url(./profile/profile.scss);
@import url(./change-password/change-password.scss);
@import url(./chat/chat.scss);

.main-container {
  margin: auto;
}

.list {
  margin: auto;
  list-style-type: none;

  &__item {
    margin-block-end: 40px;
    text-align: center;
  }

  &__link {
    cursor: pointer;
    color: var(--color-border);
    font-size: 48px;
    font-weight: 700;
    transition: opacity linear 0.5s;

    &:hover {
      opacity: 0.5;
    }
  }
}
