{{!< desctop}}

<main class="change-password">
  {{> aside/aside href="/src/pages/profile/profile.hbs"}}
  <img class="change-password__image-right" alt="фоновая картинка" src="/static/images/signup-right.png"/>
  <form class="change-password__form">
    {{> form-title/form-title formTitle="Изменить пароль"}}
    {{#each password.inputs}}
      {{>input/input }}
    {{/each}}
    {{> button/button text="Сохранить" }}
  </form>
</main>
