{{!< desctop}}

<main class="server-err">
  <div class="content">
    <h1 class="content__title">500</h1>
    <p class="content__subtitle">Ошибка сервера</p>
    <p class="content__text">Мы уже работаем над исправлением проблемы, пожалуйста, зайдите чуть позже!</p>
    {{> link/link text="на предыдущую страницу" href="/src/pages/index.hbs" modificator="contained" }}
  </div>
  <div  class="server-err__img"/>
</main>
