.server-err {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--full);
  margin: auto;

  &__img {
    width: 300px;
    height: 500px;
    margin: 0 auto;
    background-image: url('/static/images/500.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  &__title {
    font-weight: 700;
    font-size: 150px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
  }
}
