.chat-aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 35%;
  min-height: var(--full);
  padding: 20px;
  border-right: 1px solid var(--color-border);

  &__profile-link {
    margin: 0 0 20px auto;
    color: var(--color-border);
    font-weight: 700;
    font-size: 20;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      opacity: 0.5;
    }
  }

  &__profile-btn {
    width: 16px;
    height: 20px;
    margin-bottom: -2px;
    background-color: inherit;
    background-image: url('../../../static/images/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    outline: none;
    margin-inline-start: 15px;
  }
}
