.chat-aside {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 20px;
  box-sizing: border-box;
  min-height: var(--full);
  border-right: 1px solid var(--color-border);

  &__profile-link {
    color: var(--color-border);
    font-weight: 700;
    font-size: 20;
    margin: 0 0 20px auto;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
      text-decoration: underline;
    }
  }

  &__profile-btn {
    margin-inline-start: 15px;
    width: 16px;
    height: 20px;
    margin-bottom: -2px;
  }
}
