.search {
  position: relative;
  margin-block-end: 20px;

  &__input {
    width: var(--full);
    padding: 14px 14px 14px 35px;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    pointer-events: auto;
    margin-block-end: 10px;

    &::placeholder {
      color: var(--color-subtitle);
    }

    &:hover {
      box-shadow: 5px 5px 5px rgb(148 148 148 / 30%);
    }
  }

  &__icon {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
}
