.avatar {
  position: relative;
  width: max-content;
  margin: auto;

  &__img {
    width: 117px;
    height: 141px;
    margin: 0 auto 20px;
    background-image: url('../../../static/images/avatar.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
    cursor: pointer;
  }

  &__img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: rgb(0 0 0 / 40%);
    background-image: url('../../../static/images/foto.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    opacity: 0;
    transition: opacity linear 0.5s;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
