<li>
  <button
  class="modal-item"
  alt={{title}}
  >
    <img
    src={{src}}
    class="modal-item__img {{#if modificator}} modal-item__img_{{modificator}}{{/if}}"
    />
    <p class="modal-item__text">{{title}}</p>
  </button>
</li>
