.chat-footer {
  position: relative;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;

  &__form {
    display: flex;
    width: var(--full);
  }

  &__file-btn {
    width: 26px;
    height: 35px;
    margin: auto 15px auto 0;
    background-color: inherit;
    background-image: url('/static/images/file.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    outline: none;
    cursor: pointer;
    margin-inline-end: 20px;
    display: none;
  }

  &__input {
    width: var(--full);
    margin-block-start: 20px;
  }
}
