<footer class="chat-footer">
  {{> modal-file/modal-file}}
  <button class="chat-footer__file-btn"></button>
  <div class="chat-footer__input">
    {{#with footer.input}}{{>input/input }}{{/with}}
  </div>
  <button class="chat-footer__btn"></button>
</div>
