{{!< desctop}}

<main class="not-found">
  <div class="not-found__content">
    <div class="text-container">
      <h1 class="text-container__title">Страница не найдена</h1>
      {{> link/link text="на предыдущую страницу" href="/src/pages/index.hbs" modificator="outlined"}}
    </div>
  </div>
</main>
