.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: var(--full);
  min-height: var(--full);
  margin: auto;
  color: var(--color-clean);

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1513px;
    min-height: 100vh;
    background-image: url('../../../static/images/404.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.text-container {
  position: absolute;
  top: 40%;
  left: 53%;

  &__title {
    font-size: 20px;
    line-height: 24px;
    margin-block-end: 40px;
    text-align: center;
  }

  &__link {
    padding: 12px 32px;
    color: var(--color-clean);
    text-decoration: none;
    border: 1px solid var(--color-clean);
    border-radius: 11px;
    cursor: pointer;
  }
}
