.chat-page {
  display: flex;
  width: var(--full);

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: var(--full);
    min-height: 100vh;
    padding: 0 0 0 20px;
  }

  &__list {
    max-height: 100vh;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    & {
      scrollbar-width: thin;
      scrollbar-color: var(--color-border) #949494;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(148 148 148 / 30%);
      border-radius: 4px;
      margin-block-start: 55px;
      margin-block-end: 30px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(101 176 16 / 30%);
      border: 3px solid rgb(101 176 16 / 30%);
      border-radius: 2px;
    }
  }
}
