{{!< desctop}}

<main class="chat-page">
  <aside class="chat-aside">
    <a class="chat-aside__profile-link" href="/src/pages/profile/profile.hbs">Профиль
      <img class="chat-aside__profile-btn" src="/static/images/arrow.svg" alt="переход на страницу профиля"/>
    </a>
    {{> search/search }}
    <ul class="chat-page__list">
      {{#each chat.info}}
        {{> chat/chat }}
      {{/each}}
    </ul>
  </aside>
  <div class="chat-page__wrapper">
    {{> chat-header/chat-header }}
    {{> chat-content/chat-content }}
    {{> chat-footer/chat-footer }}
  </div>
</main>
