{{!< desctop}}

<main class="chat-page">
  {{> chat-aside/chat-aside }}
  <div class="chat-page__wrapper">
    {{> chat-header/chat-header }}
    {{> chat-content/chat-content }}
    {{> chat-footer/chat-footer }}
  </div>
</main>
