.chat-page {
  display: flex;
  width: var(--full);

  &__wrapper {
    padding: 0 0  0 20px;
    width: var(--full);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__list {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    padding: 0;

    & {
      scrollbar-width: thin;
      scrollbar-color: var(--color-border) #949494;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(148, 148, 148, 0.3);
      margin-block-start: 55px;
      margin-block-end: 30px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(101, 176, 16, 0.3);
      border-radius: 2px;
      border: 3px solid rgba(101, 176, 16, 0.3);
    }
  }
}
