<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="Ольга Альбукова" />
  <meta name="description" content="Мессенджер - учебный проект курса Middle-frontend Яндекс Практикума" />
  <title>Мессенджер</title>
  <link rel="stylesheet" href="../../static/styles/style.css" />
  <script type="module"></script>
</head>

<body class="container">
  {{>"header/header"}}
  {{{body}}}
</body>
</html>
