.chat-content {
  flex: 1;
  border-bottom: 1px solid var(--color-border);
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;

  & {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) #949494;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(148 148 148 / 30%);
    margin-block-start: 55px;
    margin-block-end: 30px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(101 176 16 / 30%);
    border-radius: 2px;
    border: 3px solid rgb(101 176 16 / 30%);
  }

  &__date {
    margin: 48px auto 30px;
    color: var(--color-subtitle);
  }
}
