.chat-page {
  display: flex;
  width: var(--full);
  height: 100vh;

  &__list {
    max-height: 100vh;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    & {
      scrollbar-width: thin;
      scrollbar-color: var(--color-border) #949494;
    }

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(148 148 148 / 30%);
      border-radius: 4px;
      margin-block-start: 55px;
      margin-block-end: 30px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(101 176 16 / 30%);
      border: 3px solid rgb(101 176 16 / 30%);
      border-radius: 2px;
    }
  }

  &__text {
    margin: auto;
    color: var(--color-subtitle);
  }
}

.chat-aside {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 35%;
  min-height: var(--full);
  padding: 20px;
  border-right: 1px solid var(--color-border);

  &__profile-link {
    margin: 0 0 20px auto;
    color: var(--color-border);
    font-weight: 700;
    font-size: 20;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: 0.5;
    }
  }

  &__profile-btn {
    width: 16px;
    height: 20px;
    margin-bottom: -2px;
    margin-inline-start: 15px;
  }
}
