.link {
  width: max-content;
  margin: 0 auto;
  color: var(--color-border);
  text-decoration: none;
  border: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    opacity: 0.5;
  }

  &_outlined {
    padding: 12px 32px;
    color: var(--color-clean);
    border: 1px solid var(--color-clean);
    border-radius: 11px;
  }

  &_contained {
    padding: 12px 32px;
    color: var(--color-clean);
    background-color: var(--color-border);
    border: none;
    border-radius: 11px;
    margin-block: 10px 20px;
  }
}
